	*{
		padding: 0;
		margin: 0;
		font-size: 100%;
	}

	.clearfix{
		clear:both;
	}

	body{
		width: cover;
		padding-right: 0px!important;
	}
	body .btn{
		transition: 0.5s all;
	}

	
	.container{
		padding: 0;
		width: 100%;
	}

	.navbar{
		background-color: rgba(12, 12, 16, 1);
		text-align: center;
		margin: 0;
	}

	.navbar-brand{
		font-size: 2.2em;
		margin-left: 4em;
		padding: 0.8em 0 0.5em 0;
		font-family: "brandFont";
	}

	.collapse ul{
		margin-right: 8em;
		
	}

	.collapse ul li{
		font-family: "navFont";
		font-size: 1.5em;
		padding: 0.5em 1em 0.5em 1em;
	}


	.blog{
		background: #111111;
	}

	.blog-container{
		width: 85%;
		margin: 0 auto;
	}
	
	.blog h1{
		font-family: 'topicFont';
		text-align: center;
		font-size: 4em;
		padding: 1.5em 0;
		margin:0;
		color: #fff;
	}

	.blog .row{
		padding-bottom: 1em;

	}

	.blog .row .col-md-6{
		margin-bottom: 5em;
	}


	.blog .row img{
		width: 100%;
	}
	
	.blog .row .content{
		text-align: center;
	}


	.blog .row .content h2{
		margin-top: 0;
		font-family: "navFont";
		font-size: 3em;
		text-shadow: 0.1em 0.1em 0.2em #aaf;
		color: #fff;
	}

	.blog .row .content i{
		color: #fff;
	}

	.blog .row .content a{
		text-decoration: none;
		color: #aaf;
	}


	.blog .row .content p{
		font-size: 1.5em;
		line-height: 2em;
		color: #959595;
		font-family: blogFont;
		text-align: left;
		text-indent: 40px;
		margin: 10px 10px 30px 10px;
	}


	.blog .comment{
		margin: 0 0 3em 0;
	}


	.blog .comment  span{
		font-size: 2.2em;
		text-align: content;
		margin: 0;
		color: #fff;
		text-shadow: 0.1em 0.1em 0.2em #aaf;
	}

	.blog .comment input{
		width: 60%;
		height: 3em;
		border-radius: 0.5em;
		font-size: 1.2em;
	}


	.footer{
		padding: 3em 0;
		background: #2B2B2B;
	}

	.footer .footer-container{
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 7.2em;
	}

	.footer .footer-container h3{
		color: #FFFFFF;
		font-size: 2em;
		margin: 0 0 1em 0;
		font-family: "topicFont";
	}

	.footer .footer-container ul li{
		display: block;
		margin: .5em 0;
		color: #A2A2A2;
	}

	.footer .footer-container ul li a{
		color: #A2A2A2;
		font-size: 1em;
		text-decoration: none;
	}

	.footer .footer-container ul li a:hover{
		color: #fff;
	}

	.footer .footer-container form input[type='text']{
		font-size: 1.2em;
		margin-bottom: 1em;
		width: 100%;			
		border: 1px solid #ff9900;
		background: #FFFFFF;
		padding: 0.5em;
		border-radius: 5px;
	}

	.footer .footer-container form input[type="submit"]{
		color: #FFF;
		background: #ff6a4a;
		font-size: 1em;
		border: none;
		border-radius: 5px;
		padding: 0.5em 1em;
		transition: 0.5s all;
	}

	.footer .footer-container form input[type="submit"]:hover{
		background-color: #faa;
	}

	.footer-bottom{
		padding: 1em 0;
		background: #191919;
		text-align: center;
	}

	.footer-bottom p{
		font-size: 1em;
		color: #fff;
		margin: 0;
	}

	.top{
		background-color: #ff6a4a;
		width: 1.4em;
		height: 1.4em;
		font-size: 2em;
		text-align: center;
		border-radius: 1.4em;
		color: #aaf;
		cursor: pointer;
		position: fixed;
		right:30px;
		bottom:30px;
		display: none;
	}

	.top:hover{
		opacity: 0.7;
	}

	.modal-open .modal{
		overflow-y: hidden;
	}
	#login{
		display: none;
		padding-right: 0px !important;
	}



/*==================Responsive Start======================*/

	@media only screen and (max-width: 1024px){

		.navbar-brand{		
			margin-left: 0.5em;
		}

		.collapse ul{
			margin-right: 0.2em;
		}

		
		.blog .row .content p{
			font-size: 1em;
		}


		.footer .footer-container h3{
			font-size: 1.5em;
		}

		.footer .footer-container ul li a{
			font-size: 0.8em;	
		}

	}




	@media only screen and (max-width: 800px){
			.blog h1{
				font-size: 3em;
			}

			.collapse ul li{
				font-size: 1.2em;
				padding: 0.5em 0.5em;
			}

			.navbar-inverse .navbar-brand{
				font-size: 2em;
			}
		
				
			.blog .comment span{
				font-size: 1.8em;
			}

			.blog .comment input{
				width: 50%;
				margin-right: 0.5em;
			}


			.footer .footer-container{
				margin: 0;
				padding: 0;
			}
			.footer .footer-container .row{
				padding: 0;
				margin: 0;
			}

			.footer .footer-container .row .col-md-3:first-child{
				display: none;
			}

			.footer .footer-container .row .col-md-3{
				float: left;
				margin-left: 2%;
			}

			.footer .footer-container ul li a{
				font-size: 1em;		
			}

			.footer .footer-container .row .col-md-3:nth-child(4){
				width: 32%;
			}
			
	}

	@media only screen and (max-width: 736px){


		.blog .row img{
			width: 80%;	
		}

		.blog .row .img{
			text-align: center;
		}



	}

	@media only screen and ( max-width: 667px){
		.blog .row:nth-child(5) .col-md-6:last-child{
			margin-bottom: 3em;
		}
		.blog .comment span{
			display: block;
			margin-bottom: 1em;
		}
		.blog .comment input{
			font-size: 1em;
		}

		.blog .comment input{
			width: 70%;
		}

		.blog .comment .btn-lg{
			padding: 0.5em 0.8em;
		}

	}




	@media only screen and (max-width: 440px){
		.blog h1{
			padding: 1em 0;
			font-size: 2.2em;
		}

		.blog .row .content h2{
			font-size: 2.2em;
		}


		.footer .footer-container{
			margin: 0;
			padding: 0;
		}

		.footer .footer-container h3{
			font-size: 1em;
		}

		.footer .footer-container ul li{
			font-size: 0.8em;
		}

		.footer .footer-container ul li{
			margin: 0.5em 0!important;
			display: block;
		}

		.footer .footer-container .col-md-3{
			float: left;
			margin-left: 1.2em;
		}

		.footer .footer-container .row .col-md-3:last-child{
			margin-top: 2%;
		}

		.footer .footer-container form {
			width: 180%;
		}

		.footer .footer-container form input[type='text']{
			font-size: .9em;
		}

		.footer .footer-container form input[type="submit"]{
			font-size: 0.7em;
		}

		.footer-bottom p{
			font-size: 0.8em;
		}
	}


/*修改手机竖屏的提交评论框和按钮*/
	@media only screen and (max-width: 400px){
		.blog .comment input{
			width: 90%;
			margin-bottom: 1.2em;
		}
		.blog .comment .btn-lg{
			padding: 0.3em 0.5em;
			font-size: 1.2em;
		}
	}
